.card{
    background-color: wheat;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border-radius: 12px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    box-shadow: -10px -10px;
}

.card img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 30px;
    margin : 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card h3 {
    font-size: 25px;
    margin: 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card p {
    font-size: 17px;
    margin: 5px;
    max-width: 100%;
    line-height: 1.3;
    text-align: center;
}

@media (max-width: 768px) {
    .card {
        min-width: 200px;
        max-width: 250px;
        height: 280px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .card {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        padding: 20px;
        margin-bottom: 15px;
    }
    
    .card img {
        width: 80px;
        height: 80px;
    }
}